name: Build PulseView Windows

on:
  push:
    branches:
      - master
    tags:
  workflow_dispatch:
  pull_request:
    types:
      - labeled
      - synchronize

jobs:
  build-windows:
    name: Build PulseView for Windows
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake mingw-w64-x86_64-qt6-base mingw-w64-x86_64-boost mingw-w64-x86_64-libsigrok mingw-w64-x86_64-libsigrokdecode
      
      - name: Build
        shell: msys2 {0}
        run: |
          mkdir build
          cd build
          cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_VERBOSE_MAKEFILE=ON ..
          make -j1 VERBOSE=1
      
      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: pulseview-windows
          path: build/pv/pulseview.exe
          retention-days: 30

  call-sigrok-build:
    name: Sigrok artifact builder (all platforms)
    uses: sigrokproject/sigrok-build/.github/workflows/build.yml@master
